--swiftversion 6.0
--indent 2
--maxwidth 140
--linebreaks lf
--ranges spaced
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--disable wrapMultilineStatementBraces
--stripunusedargs closure-only
--trimwhitespace always
--commas inline
--semicolons never
--ifdef no-indent
--patternlet inline
--exclude Carthage,Pods,DerivedData,.build
