Config/Signing.xcconfig

# Xcode and Swift
DerivedData/
build/
*.moved-aside
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace
.xcresult
.swiftpm/
.build/
Package.resolved
timeline.xctimeline
playground.xcworkspace


