<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="com.openai.snapo.link.core.SnapOInitProvider"
            android:authorities="${applicationId}.snapo-init"
            android:exported="false"
            android:initOrder="100">
            <meta-data
                android:name="snapo.auto_init"
                android:value="true" />
            <meta-data
                android:name="snapo.main_process_only"
                android:value="true" />
            <meta-data
                android:name="snapo.mode_label"
                android:value="safe" />
        </provider>
    </application>
</manifest>
